<div class="cardVagas">
    <div class="content-wrapper">
        <div class="compatibilidadeVaga">
            <span class="stars">★★★★☆</span>
            <span class="compatibilidadeTexto">Compatibilidade com a vaga</span>
            <span class="porcentagem">100%</span>
        </div>
        
        <div class="informacoesVaga">
            <span class="detalhesVaga">Junior • aberto a 15 dias</span>
            <h2>Desenvolvedor Java Pleno</h2>
            <p>Goiânia</p>
            <p>Nome da empresa</p>
        </div>
    </div>
    
    <div class="btn-container">
        <btn-primary btn-text="Candidatar" variant="secundary"></btn-primary>
    </div>
</div>