.btn{
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    &:disabled{
        opacity: 0.6;
    }

    &.primary{
        color: white;
        background: #3949AB;
        font-size: 24px;
        font-weight: bold;
    }
    &.secundary{
        color: white;
        background: #5C6BC0;
        font-size: 24px;
        font-weight: bold;
    }

}