<app-header></app-header>
<main>
    <div class="content-container">
        <h2>Nome da empresa</h2>
        <h3>Descricao da empresa</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates magnam esse libero delectus tempore corrupti! Delectus quibusdam placeat eos dolorem magnam non totam vel nam porro, a assumenda atque inventore?</p>
        <h3>Descricao da vaga</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur laudantium repellendus, facere tenetur harum perferendis quae magni deleniti illo porro minus recusandae voluptate ratione ab, esse iure fuga minima reprehenderit!</p>
        <h3>Esperiencias necesarias</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit alias illo architecto nostrum pariatur iusto delectus consectetur quibusdam! Doloribus reprehenderit voluptate ipsa nam, provident laborum sit sequi facilis. Minus, quaerat!</p>
        <h3>Experiências necessárias</h3>
        <ul>
            <li>ExperiênciasA</li>
            <li>ExperiênciasB</li>
        </ul>
        <h3>Currículo</h3>
        <p>Arraste o curriculo, pode ser adicionado curriculos
            podem ser retirados e adicionados posteriormente</p>
        <div class="file-input-container">
            <label for="arquivo" class="file-input-label">
                <span>Arraste e solte seu currículo aqui ou clique para selecionar</span>
                <input type="file" id="arquivo" name="arquivo" class="file-input">
            </label>
        </div>
        <btn-primary 
            btn-text="Enviar curriculo"
            variant="primary">
        </btn-primary>
    </div>
</main>