<app-header></app-header>
<main>
    <h2>Vagas com base no seu perfil</h2>
    <div class="vagasComBaseNoPerfil">
        <app-vaga></app-vaga>
        <app-vaga></app-vaga>
        <app-vaga></app-vaga>
    </div>
    <div class="triagem-section">
        <h2 class="titulo-candidaturas">Vagas que você se candidatou</h2>
        <div class="triagem-container">
            <div class="coluna-triagem">
                <h3>Triagem de currículos</h3>
                <div class="vagas-coluna">
                    <app-vaga></app-vaga>
                    <app-vaga></app-vaga>
                </div>
            </div>
            <div class="coluna-triagem">
                <h3>Entrevistas</h3>
                <div class="vagas-coluna">
                    <app-vaga></app-vaga>
                    <app-vaga></app-vaga>
                </div>
            </div>
            <div class="coluna-triagem">
                <h3>Negociação</h3>
                <div class="vagas-coluna">
                    <app-vaga></app-vaga>
                    <app-vaga></app-vaga>
                </div>
            </div>
        </div>
    </div>
</main>
