main{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 100vh;
    max-width: 1140px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: start;
    overflow-x: hidden;
    padding-top: 20vh;
}