<app-header></app-header>
<main>
    <h2>Se Registrar</h2>
    
    <section class="dadosPessoais">
        <h3>Dados pessoais</h3>
        <div class="input-group">
            <label class="input-label">Nome</label>
            <input type="text" class="form-input" placeholder="Digite seu nome completo">
        </div>
        <div class="input-group">
            <label class="input-label">CPF</label>
            <input type="text" class="form-input" placeholder="Digite seu CPF">
        </div>
        <div class="input-group">
            <label class="input-label">Email</label>
            <input type="email" class="form-input" placeholder="Digite seu email">
        </div>
        <div class="input-group">
            <label class="input-label">Telefone</label>
            <input type="tel" class="form-input" placeholder="Digite seu telefone">
        </div>
    </section>
    
    <section class="enderecos">
        <h3>Endereço</h3>
        <div class="input-group">
            <label class="input-label">CEP</label>
            <input type="text" class="form-input" placeholder="Digite seu CEP">
        </div>
        <div class="input-group">
            <label class="input-label">Rua</label>
            <input type="text" class="form-input" placeholder="Digite o nome da rua">
        </div>
        <div class="input-group">
            <label class="input-label">Número da residência</label>
            <input type="text" class="form-input" placeholder="Digite o número">
        </div>
        <div class="input-group">
            <label class="input-label">Complemento</label>
            <input type="text" class="form-input" placeholder="Digite o complemento">
        </div>
        <div class="input-group">
            <label class="input-label">Bairro</label>
            <input type="text" class="form-input" placeholder="Digite o bairro">
        </div>
        <div class="input-group">
            <label class="input-label">Cidade</label>
            <input type="text" class="form-input" placeholder="Digite a cidade">
        </div>
        <div class="input-group">
            <label class="input-label">Região</label>
            <input type="text" class="form-input" placeholder="Digite a região">
        </div>
    </section>
    
    <section class="formacaoAcademica">
        <h3>Formação Acadêmica</h3>
        <section class="formacoesAcademicasCadastradas">
            <ul>
                <li>Instituição</li>
                <li>Puc</li>
            </ul>
            <ul>
                <li>Curso</li>
                <li>Ciencia da computacao</li>
            </ul>
            <ul>
                <li>início</li>
                <li>2025/1</li>
            </ul>
            <ul>
                <li>Final</li>
                <li>2027/1</li>
            </ul>
            <ul>
                <li>período</li>
                <li>5</li>
            </ul>
            <ul>
                <li>Turno</li>
                <li>Matutino</li>
            </ul>
        </section>
        <section class="AdicionarFormacaosec">
            <div class="input-group">
                <label class="input-label">Instituição</label>
                <input type="text" class="form-input" placeholder="Nome da instituição">
            </div>
            <div class="input-group">
                <label class="input-label">Curso</label>
                <input type="text" class="form-input" placeholder="Nome do curso">
            </div>
            <div class="input-group">
                <label class="input-label">Data de Início</label>
                <input type="text" class="form-input" placeholder="Data de início">
            </div>
            <div class="input-group">
                <label class="input-label">Data de Término</label>
                <input type="text" class="form-input" placeholder="Data de término">
            </div>
            <div class="input-group">
                <label class="input-label">Período</label>
                <input type="text" class="form-input" placeholder="Período">
            </div>
            <div class="input-group">
                <label class="input-label">Turno</label>
                <input type="text" class="form-input" placeholder="Turno">
            </div>
            <btn-primary 
                btn-text="Adicionar formacoes Academicas"
                variant="primary"
                class="submit-btn">
            </btn-primary>
        </section>
    </section>
    
    <section class="ExperiênciaCertificados">
        <h3>Experiência e Certificados</h3>
        <section class="experienciasCadastradas">
            <ul>
                <li>Tipo Experiência</li>
                <li>Social</li>
            </ul>
            <ul>
                <li>Atividades desenvolvidas</li>
                <li>Fazer tal coisa</li>
            </ul>
            <ul>
                <li>Data de início</li>
                <li>2025/1</li>
            </ul>
            <ul>
                <li>Data de término</li>
                <li>2027/1</li>
            </ul>
            <ul>
                <li>Valor</li>
                <li>5</li>
            </ul>
            <ul>
                <li>Links de documentação</li>
                <li>www.exemplo.com/doc</li>
            </ul>
        </section>
        <section class="AdicionarExperienciasec">
            <div class="input-group">
                <label class="input-label">Tipo Experiência</label>
                <input type="text" class="form-input" placeholder="Social, Profissional, etc">
            </div>
            <div class="input-group">
                <label class="input-label">Atividades desenvolvidas</label>
                <input type="text" class="form-input" placeholder="Atividades realizadas">
            </div>
            <div class="input-group">
                <label class="input-label">Data de início</label>
                <input type="text" class="form-input" placeholder="Data de início">
            </div>
            <div class="input-group">
                <label class="input-label">Data de Término</label>
                <input type="text" class="form-input" placeholder="Data de término">
            </div>
            <div class="input-group">
                <label class="input-label">Valor</label>
                <input type="text" class="form-input" placeholder="Valor (se aplicável)">
            </div>
            <div class="input-group">
                <label class="input-label">Links de documentação</label>
                <input type="text" class="form-input" placeholder="Links relevantes">
            </div>
            <btn-primary 
                btn-text="Adicionar Experiencias"
                variant="primary"
                class="submit-btn">
            </btn-primary>
        </section>
    </section>
    
    <section>
        <h3>Senha</h3>
        <p class="input-label">Esses dados seram utilizados para login. Salve a sua senha e email utilizado na conta</p>
        <div class="input-group">
            <label class="input-label">Senha</label>
            <input type="password" class="form-input" placeholder="Crie uma senha segura">
        </div>
        <div class="input-group">
            <label class="input-label">Confirmar Senha</label>
            <input type="password" class="form-input" placeholder="Repita a senha">
        </div>
        <btn-primary 
            btn-text="FinalizarCadastro"
            variant="primary"
            class="submit-btn">
        </btn-primary>
    </section>
</main>