@import url('https://fonts.googleapis.com/css2?family=Rubik+One&display=swap');

.app-header {
  width: 100%;           
  height: 80px;         
  background-color: #5C6BC0;
  display: flex;
  align-items: center;
  padding: 0;          
  margin: 0;             
  box-sizing: border-box;

  h1 {
    font-family: 'Rubik One','Regular';
    font-size: 64px;
    color: #C5CAE9;
    width: 100%;         
    margin: 0;           
    padding-left: 20px; 
    line-height: 80px;   
    box-sizing: border-box;
  }
}
