<app-header></app-header>
<main>
    <section class="main-section">
        <div class="container">
            <h1>
                <b>SELECT </b>melhores oportunidades
            </h1>
            <br>
            <h1>
                <b>FROM </b>Goiânia
            </h1>
            <br>
            <h1>
                <b>WHERE </b>perfil = 'estudante' 
            </h1>
            <br>
            <h1>
                <b>OR </b>perfil = 'recém-graduado';
            </h1>
            <br>
            <span>
                Mais de 20.000 vagas esperando por você!
            </span>
            <br>
            <section class="ctaSection">
                    <btn-primary btn-text = "Entrar"></btn-primary>
                    <span>|</span>
                    <btn-primary btn-text = "Registrar" variant="secundary"></btn-primary>
            </section>
        </div>
    </section>
</main>