main{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 100vh;
    max-width: 1140px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: start;
    padding-top: 20vh;
    overflow: hidden;
}
.container{
    display: flex;               
    justify-content: center;   
    align-items: colune;
    flex-direction: column;
    h1{
        font-size: 60px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    h2{
        font-size: 40px;
        color: black;
        margin-top: 0;
        margin-bottom: 10px;
    }
    b{
        color: #5C6BC0;
    }
    .ctaSection{
        display: flex;               
        justify-content: center;     
        gap: 50px;                  
        align-items: center;
    }
}